<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<title>会員情報</title>
</head>

<body>
	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container pb-5 nagoyameshi-container">
				<div class="row justify-content-center">
					<div class="col-xl-5 col-lg-6 col-md-8">
						<nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
								<li class="breadcrumb-item active" aria-current="page">会員情報</li>
							</ol>
						</nav>

						<h1 class="mb-3 text-center">会員情報</h1>

						<div class="d-flex justify-content-end align-items-end mb-3">
							<div>
								<a th:href="@{/user/edit}">編集</a>
							</div>
						</div>

						<div th:if="${successMessage}" class="alert alert-info">
							<span th:text="${successMessage}"></span>
						</div>

						<div class="container mb-4">
							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-4">
									<span class="fw-bold">氏名</span>
								</div>

								<div class="col">
									<span th:text="${user.getName()}"></span>
								</div>
							</div>

							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-4">
									<span class="fw-bold">フリガナ</span>
								</div>

								<div class="col">
									<span th:text="${user.getFurigana()}"></span>
								</div>
							</div>

							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-4">
									<span class="fw-bold">郵便番号</span>
								</div>

								<div class="col">
									<span th:text="${user.getPostalCode()}"></span>
								</div>
							</div>

							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-4">
									<span class="fw-bold">住所</span>
								</div>

								<div class="col">
									<span th:text="${user.getAddress()}"></span>
								</div>
							</div>

							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-4">
									<span class="fw-bold">電話番号</span>
								</div>

								<div class="col">
									<span th:text="${user.getPhoneNumber()}"></span>
								</div>
							</div>

							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-4">
									<span class="fw-bold">メールアドレス</span>
								</div>

								<div class="col">
									<span th:text="${user.getEmail()}"></span>
								</div>
							</div>

							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-4">
									<span class="fw-bold">プラン情報</span>
								</div>

								<div class="col">
									<span sec:authorize="hasRole('ROLE_GENERAL')">無料会員</span>
									<button type="button" sec:authorize="hasRole('ROLE_GENERAL')"
										class="btn btn-sm btn-warning" data-bs-toggle="modal" style="float:right;"
										th:data-bs-target="${'#subscribeModal-' + user.getId()}">有料会員登録</button>
									<!--講読モーダル -->
									<div sec:authorize="hasRole('ROLE_GENERAL')" class="modal fade"
										th:id="'subscribeModal-' + ${user.getId()}" tabindex="-1"
										aria-labelledby="subscribeLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="subscribeLabel">
														有料会員登録</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal"
														aria-label="Close"></button>
												</div>
												<div class="modal-body">
													月額300円で有料会員登録をしますか？
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														data-bs-dismiss="modal">キャンセル</button>
													<input type="hidden" name="userId" th:value="${user.getId()}" />
													<button type="submit" class="btn btn-danger"
														id="subscribe">登録する</button>
													<form id="subscribeForm"
														th:action="@{/user/{userId}/subscribe(userId=${user.getId()})}"
														method="post" />
												</div>
											</div>
										</div>
									</div>
									<span sec:authorize="hasRole('ROLE_MEMBER')">有料会員</span> <button type="button"
										sec:authorize="hasRole('ROLE_MEMBER')" class="btn btn-sm btn-danger"
										data-bs-toggle="modal" style="float:right;"
										th:data-bs-target="${'#unSubscribeModal-' + user.getId()}">有料プラン解約</button>
									<!--講読モーダル -->
									<div sec:authorize="hasRole('ROLE_MEMBER')" class="modal fade"
										th:id="'unSubscribeModal-' + ${user.getId()}" tabindex="-1"
										aria-labelledby="unSubscribeLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="unSubscribeLabel">
														有料プラン解約</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal"
														aria-label="Close"></button>
												</div>
												<div class="modal-body">
													本当に定期購読を解約しますか？
												</div>
												<div class="modal-footer">
													<form id="unSubscribeForm" th:action="@{/user/{userId}/unSubscribe(userId=${user.getId()})}" method="post">
													<button type="button" class="btn btn-secondary"
														data-bs-dismiss="modal">キャンセル</button>
													<input type="hidden" name="userId" th:value="${user.getId()}" />
													<button type="submit" class="btn btn-danger"
														id="unSubscribe">解約する</button>
													</form>
												</div>
											</div>
										</div>
									</div>
									<span sec:authorize=" hasRole('ROLE_ADMIN')">管理者</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://js.stripe.com/v3"></script>
<script th:src="@{/js/stripe.js}"></script>
<script>
	$(document).ready(function () {
		// 登録するボタンがクリックされたときの処理
		$('#subscribe').click(function (event) {
			event.preventDefault(); // フォームのデフォルトのサブミットを防ぐ
			const csrfToken = document.querySelector('input[name="_csrf"]').value;
			var userId = $('input[name="userId"]').val(); // userIdを取得
			var form = $('#subscribeForm')[0]
			$.ajax({
				//url: '/user/' + userId + '/subscribe', // URLを指定
				url: form.action, // URLを指定
				type: 'POST', // リクエストの種類
				headers: {
					'Content-Type': 'application/json',
					'X-CSRF-TOKEN': csrfToken // CSRFトークンをヘッダーに追加
				},
				success: function (response) {
					stripe.redirectToCheckout({
						sessionId: response
					})
				},
				error: function (xhr, status, error) {
					// エラーが発生した場合の処理
					console.error('エラー:', error);
					alert('有料会員登録に失敗しました。');
				}
			});
		});
	});
</script>

</html>